ATTEMPT 1

<div class="callout">
  <div class="grid grid--1x2i grid__callout">
    <div class="callout1">
      <blockquote class="quote">
        <p class="quote__text">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Eius maiores
          aut error maxime expedita eos quaerat, cupiditate fugit ipsum ducimus?
        </p>
      </blockquote>
      <footer class="quote__footer">
        <div class="media">
          <div class="media__body">
            <h3 class="media__title">John Smith</h3>
            <p class="media__description">
              Captain & Lord of the Middle World
            </p>
          </div>
        </div>
      </footer>
    </div>
    <div class="callout2">
      <button class="btn btn--secondary">Click Ere</button>
    </div>
  </div>
</div>

ATTEMPT 2

<div class="grid__callout">
  <div class="grid grid--1x2i">
    <div class="callout1">
      <h3>Ready?</h3>
      <p>
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Praesentium,
        architecto distinctio rem nemo asperiores nihil eaque debitis sed earum
        quis.
      </p>
    </div>
    <div class="callout2">
      <button class="btn btn--secondary">Me Ready</button>
    </div>
  </div>
</div>

MOSH'S CODE

<div class="callout callout--primary">
  <div class="grid grid--1x2">
    <div class="callout__content">
      <h2 class="callout__heading">Ready to Get Started?</h2>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Debitis eum,
        qui reprehenderit commodi eligendi et numquam voluptatibus eaque
        perferendis pariatur?
      </p>
    </div>
    <a href="" class="btn btn--secondary btn--long">Get Started</a>
  </div>
</div>
