ATTEMPT 1
<section class="block block--dark block--skewed-left">
  <div class="hero__div">
    <div class="grid grid--1x2 hero">
      <div>
        <h1>Cloud Hosting for Pros</h1>
        <p>Deploy your website in less than 60 seconds</p>
        <button class="btn btn--accent">get started</button>
      </div>
      <div><img src="/images/banner.png" alt="" /></div>
    </div>
  </div>
</section>
<script src="js/main.js"></script>

MOSH'S CODE

<section class="block block--dark block--skewed-left hero">
  <div class="container grid grid--1x2">
    <header class="block__header hero__content">
      <h1 class="block__heading">Cloud Hosting for Pros</h1>
      <p class="hero__tagline">
        Deploy your website in less than 60 seconds
      </p>
      <a href="#" class="btn btn--accent btn--stretched">get started</a>
    </header>
    <div><img class="hero__image" src="/images/banner.png" alt="" /></div>
  </div>
</section>
