<blockquote class="quote">
  <p class="quote__text">
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Eius maiores aut
    error maxime expedita eos quaerat, cupiditate fugit ipsum ducimus?
  </p>
</blockquote>
<footer class="quote__footer">
  <div class="media">
    <div class="media__image">
      <svg class="icon icon--primary">
        <use xlink:href="/images/sprite.svg#line"></use>
      </svg>
    </div>
    <div class="media__body">
      <h3 class="media__title">John Smith</h3>
      <p class="media__description">
        Captain & Lord of the Middle World
      </p>
    </div>
  </div>
</footer>
