<section class="block">
  <header class="block__header">
    <h2>What our Customers are Saying</h2>
    <p>
      Lorem ipsum dolor sit amet consectetur, adipisicing elit. Voluptatem,
      distinctio!
    </p>
  </header>
  <div class="container">
    <div class="card testimonial">
      <div class="grid grid--1x2">
        <div class="testimonial__image">
          <img src="/images/testimonial.jpg" alt="manno" />
          <span class="icon-container icon--white icon--small"
            ><svg class="icon">
              <use xlink:href="/images/sprite.svg#quotes"></use>
            </svg>
          </span>
        </div>

        <div>
          <blockquote class="quote">
            <p class="quote__text">
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Eius
              maiores aut error maxime expedita eos quaerat, cupiditate fugit
              ipsum ducimus?
            </p>
          </blockquote>

          <footer class="quote__footer">
            <div class="media">
              <div class="media__image">
                <svg class="icon icon--primary">
                  <use xlink:href="/images/sprite.svg#line"></use>
                </svg>
              </div>
              <div class="media__body">
                <h3 class="media__title">John Smith</h3>
                <p class="media__description">
                  Captain & Lord of the Middle World
                </p>
              </div>
            </div>
          </footer>
        </div>
      </div>
    </div>
  </div>
</section>
